.outside {
    background-color: lightgray;
    padding: 20px;
    border: 1px solid black;
    margin: 1px;
}

.inside {
    border: 10px solid lightgrey;
    padding: 20px;
}

.text_inside {
    position: relative; /* Position relative for absolute positioning */
    border: 2px; /* Set border color to transparent */
    border-style: double;
    border-width: 5px;
    padding: 0; /* Remove padding to prevent overlapping */
}

.border_space {
    position: absolute; /* Position absolute for layering */
    top: 5px; /* Adjust to align with the inner border */
    bottom: 5px; /* Adjust to align with the inner border */
    left: 5px; /* Adjust to align with the inner border */
    right: 5px; /* Adjust to align with the inner border */
    background-color: white; /* Set background color to white */
}

.content {
    padding: 20px;
    background-color: lightgrey; /* Set background color to light grey */
}


